@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

h1 {
  color: #f4ce53;
  display: flex;
  justify-content: center;
  align-items: top;
  font-size: 10rem;
  font-family: "Lilita One", cursive;
}
